@mixin flex-style($direction : row, $justifyVal : null, $alignVal : null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyVal;
    align-items: $alignVal;
}

//---------------position style mixin---------------
@mixin position-style ($position: absolute, $left: null, $top: null, $right: null, $bottom: null, $zIndex: null) {
    position: $position;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
    z-index: $zIndex;
}

//---------------컬러 변수 정리---------------
$blue50 : #E3F2FD;
$blue100 : #BBDEFB;
$blue200 : #90CAF9;
$blue300 : #64B5F6;
$blue400 : #42A5F5;
$blue500 : #2196F3;
$blue600 : #1E88E5;
$blue700 : #1976D2;
$blue800 : #1565C0;
$blue900 : #0D47A1;
$blueA100 : #82B1FF;
$blueA200 : #448AFF;
$blueA400 : #2979FF;
$blueA700 : #2962FF;

$red50 : #FFEBEE;
$red100 : #FFCDD2;
$red200 : #EF9A9A;
$red300 : #E57373;
$red400 : #EF5350;
$red500 : #F44336;
$red600 : #E53935;
$red700 : #D32F2F;
$red800 : #C62828;
$red900 : #B71C1C;
$redA100 : #FF8A80;
$redA200 : #FF5252;
$redA400 : #FF1744;
$redA700 : #D50000;

$yellow50 : #FFFDE7;
$yellow100 : #FFF9C4;
$yellow200 : #FFF59D;
$yellow300 : #FFF176;
$yellow400 : #FFEE58;
$yellow500 : #FFEB3B;
$yellow600 : #FDD835;
$yellow700 : #FBC02D;
$yellow800 : #F9A825;
$yellow900 : #F57F17;
$yellowA100 : #FFFF8D;
$yellowA200 : #FFFF00;
$yellowA400 : #FFEA00;
$yellowA700 : #FFD600;

$gray50 : #FAFAFA;
$gray100 : #F5F5F5;
$gray200 : #EEEEEE;
$gray300 : #E0E0E0;
$gray400 : #BDBDBD;
$gray500 : #9E9E9E;
$gray600 : #757575;
$gray700 : #616161;
$gray800 : #424242;
$gray900 : #212121;

// -------------------폰트----------------------
$font1 : "Pretendard";
$font2 : "MaruBuriR";
$font3 : "NexonGothicB";