@mixin flex-style($direction : row, $justifyVal : null, $alignVal : null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyVal;
    align-items: $alignVal;
}

//---------------position style mixin---------------
@mixin position-style ($position: absolute, $left: null, $top: null, $right: null, $bottom: null, $zIndex: null) {
    position: $position;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
    z-index: $zIndex;
}

//---------------컬러 변수 정리---------------
$blue50 : #E3F2FD;
$blue100 : #BBDEFB;
$blue200 : #90CAF9;
$blue300 : #64B5F6;
$blue400 : #42A5F5;
$blue500 : #2196F3;
$blue600 : #1E88E5;
$blue700 : #1976D2;
$blue800 : #1565C0;
$blue900 : #0D47A1;
$blueA100 : #82B1FF;
$blueA200 : #448AFF;
$blueA400 : #2979FF;
$blueA700 : #2962FF;

$gray50 : #FAFAFA;
$gray100 : #F5F5F5;
$gray200 : #EEEEEE;
$gray300 : #E0E0E0;
$gray400 : #BDBDBD;
$gray500 : #9E9E9E;
$gray600 : #757575;
$gray700 : #616161;
$gray800 : #424242;
$gray900 : #212121;

// -------------------폰트----------------------
$font1 : "Pretendard";
$font2 : "MaruBuriR";