@import './styles';

.App {
    @include flex-style(row, center, center);
    min-width: 1280px;
    min-height: 720px;
    width: 100vw;
    height: 100vh;
}

._404 {
    color: white;
    text-align: center;

    >h2 {
        font-size: 120px;
    }

    >p {
        font-size: 54px;
        margin: 25px 0;
        display: block;

        >svg {
            transform: translateY(7px);
        }
    }

    >a {
        display: inline-block;
        font-size: 40px;
        padding: 20px 40px;
        background-color: white;
        border-radius: 20px;

        >svg {
            transform: translateY(5px);
        }
    }
}

.scroll-design1 {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $dark;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: $brown;
        border-radius: 10px;
    }
}

.table-container {
    width: 100%;
    border: 1px solid $gray400;
    border-radius: 15px;

    .table-type1 {
        width: 100%;
        border-collapse: collapse;

        >thead {
            background-color: $mainBg;

            th {
                height: 50px;
                font-size: 16px;
                color: $dark;

                &.small {
                    width: 100px;
                }

                &:first-child {
                    border-radius: 15px 0 0 0;
                }

                &:last-child {
                    border-radius: 0 15px 0 0;
                }
            }
        }

        >tbody {

            >tr {
                border-bottom: 1px solid $gray300;

                >td {
                    text-align: center;
                    font-size: 14px;
                    height: 50px;
                    padding: 25px 0;

                }

                &:last-child {
                    border: none;
                }
            }
        }
    }
}

.modal-type1 {
    @include position-style(fixed, 50%, 50%, $zIndex: 5);
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;

    >header {
        @include flex-style($justifyVal : space-between, $alignVal : center);
        background-color: $gray800;
        padding: 8px 12px;


        >h3 {
            color: white;
            margin-left: 12px;
            font-size: 18px;
            font-weight: normal;

            >i {
                color: white;
            }
        }

        >button {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #ffffff;
            background-image: linear-gradient(200deg, #ffffff 0%, #ff2525 28%);
        }
    }
}

.btn-type1 {
    padding: 8px 12px;
    background-color: $gray800;
    color: white;
    border-radius: 8px;
}

.image-box {
    position: relative;

    >img {
        @include position-style($top: 0, $left: 0, $bottom: 0, $right: 0);
        width: auto;
        height: auto;
        margin: auto;
    }
}