@import './styles';

.App {
    @include flex-style(row, center, center);
    min-width: 1280px;
    min-height: 720px;
    width: 100vw;
    height: 100vh;
    background-color: $gray900;

    >.summary-container {
        @include flex-style();
        width: 1280px;
        height: 720px;
        background-color: white;

        >.side-bar {
            @include flex-style(column, flex-start, center);
            width: 280px;
            height: 100%;
            background-color: $gray100;

            >.img-box {
                width: 140px;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 25px;

                >img {
                    width: 140px;
                }
            }

            >.name-box {
                margin-top: 25px;
                text-align: center;

                >h2 {
                    font-size: 18px;
                    font-family: $font1;
                }
            }

            >.nav-list {
                margin-top: 40px;

                >li {
                    margin: 15px 0;
                    position: relative;

                    >a {
                        width: 180px;
                        padding: 5px 0;
                        display: block;
                        text-align: center;
                        font-size: 24px;
                        font-family: $font2;
                    }

                    &::after {
                        @include position-style($left :0, $bottom : 0);
                        content: "";
                        width: 100%;
                        border-bottom: 1px solid $gray900;
                        display: none;
                    }

                    &:hover::after {
                        display: block;
                    }

                    &.active {
                        >a {
                            color: $blue800;
                        }

                        &::after {
                            display: block;
                            border-color: $blue800;
                        }

                    }
                }
            }
        }

        >section {
            width: 1000px;
            height: 100%;
        }
    }
}

._404 {
    color: white;
    text-align: center;

    >h2 {
        font-size: 120px;
    }

    >p {
        font-size: 54px;
        margin: 25px 0;
        display: block;

        >svg {
            transform: translateY(7px);
        }
    }

    >a {
        display: inline-block;
        font-size: 40px;
        padding: 20px 40px;
        background-color: white;
        border-radius: 20px;

        >svg {
            transform: translateY(5px);
        }
    }
}

.site-map {
    @include position-style($right : 0, $top : 0);
    width: 40px;
    height: 100%;
    background-color: $blue500;

    >ul {
        width: 100%;
        height: 100%;
        @include flex-style(column, center, center);

        >li {
            @include flex-style(row, center, center);
            position: relative;
            width: 30px;
            height: 30px;
            font-size: 18px;
            padding: 4px;
            color: white;
            border: 2px solid white;
            border-radius: 50%;
            margin: 15px 0;
            cursor: pointer;

            >a {
                color: white;

                >div {
                    font-size: 14px;
                }
            }

            >p {
                @include position-style($right : -2000px, $top : 0, $zIndex : 1);
                width: 120px;
                background-color: $blue900;
                text-align: center;
                padding: 2px 5px;
                border-radius: 15px;
                font-size: 14px;
                transform: translateY(-7px);

                &.down {
                    transform: translateY(0);
                }
            }

            &:hover {
                >p {
                    right: 40px;
                }
            }
        }
    }
}

.App>main {
    min-width: 1280px;
    min-height: 720px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.scroll-design1 {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray400;
        border-radius: 10px;
    }
}