@import './styles';

.p-main {
    width: 100vw;
    height: 100vh;
    min-width: 1280px;
    min-height: 720px;
    @include flex-style(row);
    background-color: $mainBg;

    >.side-bar {
        width: 13%;
        min-width: 280px;
        height: 100%;

        // 이미지 영역
        >.img-box {
            margin-top: 5%;
            text-align: center;
            height: 15%;
            background-image: url('images/김성엽.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        // 이름 영역
        >.name-box {
            margin-top: 25px;
            text-align: center;

            >h2 {
                font-size: 18px;
                font-family: $font5;
            }
        }

        >.nav-list {
            margin-top: 80px;

            >li {
                @include flex-style($justifyVal : center);
                margin-bottom: 60px;
                position: relative;

                >a {
                    @include flex-style(column, center, center);
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;

                    >svg {
                        font-size: 48px;
                        margin-bottom: 10px;
                    }

                    >span {
                        font-family: $font3;
                        font-size: 24px;
                    }
                }

                &.active {
                    >a {
                        background-color: $dark;
                        color: white;
                    }

                }
            }
        }
    }

    >section {
        width: calc(100vw - 280px);
        height: 100%;
        border-radius: 70px 0 0 70px;
        padding: 60px 70px;
        background-color: white;
    }
}

// 소개 홈페이지
.home {

    >div {
        font-size: 18px;
    }

    >.work-days {}

    >.counts {
        >h3 {
            margin-bottom: 15px;
        }

        >table {
            width: 100%;

            thead {
                background-color: $blue700;
                color: white;

                th {
                    border: 1px solid white;
                    padding: 5px 0;
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid $blue700;
                }
            }

            td {
                text-align: center;
                padding: 10px 0;

                >ol {
                    border: 1px solid $gray900;
                    width: 120px;

                    >li {
                        @include flex-style();

                        >h5 {
                            width: 50px;
                        }

                        >span {
                            display: block;
                            width: 60px;
                            text-align: center;
                        }
                    }
                }

                >a {
                    color: $blue800;
                    font-weight: bold;
                }
            }
        }
    }

}

// 기술 페이지
.skills {
    article {
        @include flex-style(column, $alignVal : center);
    }

    .develope {
        width: 100%;

        >h3 {
            font-size: 48px;
            margin-bottom: 72px;
        }

        >ul {
            width: 80%;
            min-width: 720px;
            @include flex-style();

            >li {
                width: 15%;
                margin: 0 4.16%;
                position: relative;

                >h5 {
                    font-size: 48px;
                    font-family: $NotoRegular;
                }

                .image-box {
                    position: relative;
                    width: 200px;
                    height: 200px;
                    background-color: $mainBg;
                    border-radius: 50%;

                    >img {
                        @include position-style($top: 0, $left: 0, $bottom: 0, $right: 0);
                        width: auto;
                        height: auto;
                        max-width: 80%;
                        max-height: 80%;
                        margin: auto;
                    }
                }

                &:hover {}
            }
        }
    }
}

.portfolio {
    @include flex-style(row, center, center);

    .pf-list {
        width: 100%;
        @include flex-style();
        flex-wrap: wrap;

        >li {
            width: 30%;
            margin: 0 1.5%;
            border: 1px solid black;
            border-radius: 8px;

            >div {
                width: 100%;
                height: 225px;
                text-align: center;
            }

            >h5 {
                text-align: center;
                margin: 5px 0;
            }

            >button {
                width: 45%;
                margin: 0 2.5%;
                padding: 5px 8px;
                background-color: $blue600;
                border-radius: 4px;
                color: white;
                margin-bottom: 15px;
            }
        }
    }
}