@import './styles';

.h-main {
    width: 100vw;
    height: 100vh;
    min-width: 1280px;
    min-height: 720px;
    @include flex-style(row);
    background-color: $mainBg;

    >.side-bar {
        width: 13%;
        min-width: 280px;
        height: 100%;

        // 이미지 영역
        >.img-box {
            margin-top: 5%;
            text-align: center;
            height: 15%;
            // background-image: url('images/김성엽.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        // 이름 영역
        >.name-box {
            margin-top: 25px;
            text-align: center;

            >h2 {
                font-size: 18px;
                font-family: $font5;
            }
        }

        >.nav-list {
            margin-top: 80px;

            >li {
                @include flex-style($justifyVal : center);
                margin-bottom: 40px;
                position: relative;

                >a {
                    @include flex-style(column, center, center);
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;

                    >svg {
                        font-size: 48px;
                        margin-bottom: 10px;
                    }

                    >span {
                        font-family: $font3;
                        font-size: 24px;
                    }
                }

                &.active {
                    >a {
                        background-color: $dark;
                        color: white;
                    }

                }
            }
        }
    }

    >section {
        width: calc(100vw - 280px);
        height: 100%;
        border-radius: 70px 0 0 70px;
        padding: 60px 70px;
        background-color: white;
        overflow: auto;
        padding-bottom: 200px;

        &.scroll-design1 {
            &::-webkit-scrollbar {
                width: 15px;
            }

            &::-webkit-scrollbar {
                width: 15px;
            }

            &::-webkit-scrollbar {
                width: 15px;
            }
        }
    }
}

// 소개 홈페이지
.home {

    .page {
        width: 100%;
        height: 100%;
        @include flex-style(column, center);
    }

    .intro {
        >h2 {
            font-size: 64px;
            margin-bottom: 36px;
        }

        >.work-days {
            font-size: 48px;
        }

        >.work-place {
            font-size: 36px;

            >a {
                color: $blue800;

            }
        }

    }


    .counts {
        >h3 {
            font-size: 36px;
            margin-bottom: 36px;
        }

        table {
            width: 100%;

            >tbody {
                >tr {
                    >td {
                        text-align: center;
                        padding: 10px 0;

                        >h4 {
                            font-size: 18px;
                        }


                        >a {
                            color: $blue800;
                            font-weight: bold;
                        }

                        &.did {
                            text-align: left;
                            width: 30%;
                            padding-left: 15px;

                            >p {
                                width: 90%;
                            }
                        }
                    }
                }
            }

        }
    }

}

// 기술 페이지
.skills {
    article {
        @include flex-style(column, $alignVal : center);

        >h3 {
            width: 90%;
            text-align: left;
            font-size: 48px;
            margin-bottom: 72px;

            >b {
                color: $dark;
            }
        }

        .image-box {
            position: relative;
            width: 200px;
            height: 200px;
            background-color: $mainBg;
            border-radius: 50%;

            >img {
                @include position-style($top: 0, $left: 0, $bottom: 0, $right: 0);
                width: auto;
                height: auto;
                max-width: 80%;
                max-height: 80%;
                margin: auto;
            }
        }
    }

    .develope {
        width: 100%;
        margin-bottom: 72px;

        >ul {
            @include flex-style();
            width: 90%;
            min-width: 720px;
            overflow: auto;



            >li {
                @include flex-style($alignVal : center);
                width: 20%;
                margin-right: 2.5%;
                position: relative;

                >h5 {
                    font-size: 48px;
                    font-family: $NotoRegular;
                }

            }
        }
    }

    .work {
        >ul {
            width: 90%;
            border: 1px solid $dark;
            border-radius: 8px;

            >li {
                @include flex-style($alignVal :center);
                width: 100%;
                border-bottom: 1px solid $dark;

                >div {
                    @include flex-style(column, center, center);
                    width: 200px;
                    border-right: 1px solid $dark;

                    >h5 {
                        width: 100%;
                        text-align: center;
                        font-family: $NotoBold;
                        font-size: 18px;
                    }

                    >.image-box {
                        width: 180px;
                        height: 180px;
                    }
                }

                &:last-child {
                    border: none;
                }

                >p {
                    width: calc(100% - 200px);
                    padding-left: 24px;
                    font-size: 24px;
                }
            }

        }
    }
}

.portfolio {
    @include flex-style(row, center, center);

    .pf-list {
        width: 100%;
        @include flex-style();
        flex-wrap: wrap;

        >li {
            width: 30%;
            margin: 0 1.5%;
            border: 1px solid black;
            border-radius: 8px;

            >div {
                width: 100%;
                height: 225px;
                text-align: center;
            }

            >h5 {
                text-align: center;
                margin: 5px 0;
            }

            >button {
                width: 45%;
                margin: 0 2.5%;
                padding: 5px 8px;
                background-color: $blue600;
                border-radius: 4px;
                color: white;
                margin-bottom: 15px;
            }
        }
    }
}