@import './styles';

.p-main {
    width: 100vw;
    height: 100vh;
    min-width: 1280px;
    min-height: 720px;
    @include flex-style(row);

    >.side-bar {
        width: 20%;
        min-width: 256px;
        height: 100%;
        background-color: $yellowA700;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

        >.img-box {
            margin-top: 5%;
            text-align: center;
            height: 20%;

            >img {
                height: 100%;
            }
        }

        >.name-box {
            margin-top: 25px;
            text-align: center;

            >h2 {
                font-size: 18px;
                font-family: $font1;
            }
        }

        >.nav-list {
            margin-top: 40px;

            >li {
                margin: 15px 0;
                position: relative;

                >a {
                    width: 180px;
                    padding: 5px 0;
                    display: block;
                    text-align: center;
                    font-size: 24px;
                    font-family: $font2;
                }

                &::after {
                    @include position-style($left :0, $bottom : 0);
                    content: "";
                    width: 100%;
                    border-bottom: 1px solid $gray900;
                    display: none;
                }

                &:hover::after {
                    display: block;
                }

                &.active {
                    >a {
                        color: $blue800;
                    }

                    &::after {
                        display: block;
                        border-color: $blue800;
                    }

                }
            }
        }
    }
}

.home {

    >main {
        width: 80%;
        height: 560px;
        overflow: auto;

        >* {
            margin-bottom: 10px;
        }

        >div {
            font-size: 18px;
        }

        >.work-days {}

        >.counts {
            >h3 {
                margin-bottom: 15px;
            }

            >table {
                width: 100%;

                thead {
                    background-color: $blue700;
                    color: white;

                    th {
                        border: 1px solid white;
                        padding: 5px 0;
                    }
                }

                tbody {
                    tr {
                        border-bottom: 1px solid $blue700;
                    }
                }

                td {
                    text-align: center;
                    padding: 10px 0;

                    >ol {
                        border: 1px solid $gray900;
                        width: 120px;

                        >li {
                            @include flex-style();

                            >h5 {
                                width: 50px;
                            }

                            >span {
                                display: block;
                                width: 60px;
                                text-align: center;
                            }
                        }
                    }

                    >a {
                        color: $blue800;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}