@import './styles';

.pf-main {
    @include flex-style(row, center, center);

    >main {
        width: 80%;
        height: 560px;
        overflow: auto;

        >.pf-list {
            width: 100%;
            @include flex-style();
            flex-wrap: wrap;

            >li {
                width: 30%;
                margin: 0 1.5%;
                border: 1px solid black;
                border-radius: 8px;

                >div {
                    width: 100%;
                    height: 225px;
                    text-align: center;
                }

                >h5 {
                    text-align: center;
                    margin: 5px 0;
                }

                >button {
                    width: 45%;
                    margin: 0 2.5%;
                    padding: 5px 8px;
                    background-color: $blue600;
                    border-radius: 4px;
                    color: white;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

#d-day {
    @include flex-style(row, center, center);
    border-radius: 8px;

    >.container {
        width: 1280px;
        height: 720px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    .d-day-control {
        @include flex-style(row, space-between, center);
        width: 100%;
        height: 50px;
        background-color: $blue50;

        >.right {
            >button {
                font-size: 16px;
                padding: 5px 10px;
                margin-right: 10px;
                background-color: $blue900;
                color: white;
                border-radius: 5px;

                >svg {
                    transform: translateY(2px);
                    margin-right: 5px;
                }
            }
        }
    }

    .add-d-day {
        @include position-style(fixed, 50%, 50%);
        @include flex-style(column, center, center);
        transform: translate(-50%, -50%);
        width: 400px;
        height: 300px;
        background-color: $blue100;
        border-radius: 8px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

        >label {
            @include flex-style($alignVal : center);
            width: 80%;
            margin: 5px 0;
            font-size: 18px;

            >h5 {
                width: 80px;
                font-size: 16px;
                font-family: $font3;
            }

            >input {
                font-size: 16px;
                background-color: transparent;
                border-bottom: 1px solid black;
                font-family: $font1;
            }
        }

        >div {
            margin-top: 15px;
            width: 100%;
            text-align: right;

            >button {
                margin-right: 25px;
                font-size: 18px;
                background-color: $blue900;
                color: white;
                padding: 5px 10px;
            }

        }
    }

    // 디데이 리스트
    .d-day-list {
        @include flex-style();
        flex-wrap: wrap;

        >li {
            position: relative;
            width: 150px;
            height: 150px;
            background-color: $red50;
            margin: 15px;

            >h3 {
                padding-left: 20px;
                background-color: $red200;
                font-size: 16px;
                color: white;
                height: 30px;
                line-height: 30px;
                font-family: $font2;
                letter-spacing: 3px;
                font-weight: normal;
            }

            >h4 {
                margin-top: 12px;
                padding-left: 20px;
                font-size: 16px;
                font-family: $font2;
            }

            >ol.times {
                margin-top: 20px;
                @include flex-style($justifyVal : center);

                >li {
                    @include flex-style($alignVal : flex-end);

                    text-align: center;
                    margin: 0 5px;

                    >h5 {
                        font-size: 15px;
                        font-weight: normal;
                        font-family: $font1;
                    }

                    >p {
                        font-size: 12px;
                    }
                }
            }

            &::before {
                @include position-style($right : 0, $bottom : 0);
                content: '';
                width: 20px;
                height: 20px;
                background: linear-gradient(315deg, #FFFFFF 0%, #FFFFFF 40%, #EF9A9A 100%);
            }
        }
    }
}

#todo-list {
    >aside {
        width: 320px;
        height: 100%;
        background-color: $gray200;
        border-right: 1px solid $gray800;

        >h2 {
            background-color: $gray800;
            color: white;
            text-align: center;
            padding: 20px 0;
            letter-spacing: 3px;
            font-family: $font2;
        }

        >ul {
            width: 100%;
            margin-top: 24px;
            padding: 0 24px;

            >li {
                width: 100%;

                >h4 {
                    font-size: 22px;
                    font-family: $font3;
                    margin-bottom: 10px;
                }

                >div {
                    @include flex-style($justifyVal : space-between);

                    >select {
                        width: 120px;
                        font-size: 16px;
                    }

                    >button {
                        border-radius: 4px;
                        border: 1px solid $gray800;
                        padding: 0 8px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    >section {
        width: calc(100% - 320px);
    }
}