@import './styles';

.p-main {
    @include flex-style();
    width: 100%;
    height: 100%;
    background-color: $mainBg;

    >.container {
        width: calc(100% - 40px);
        height: 100%;
        background-color: white;
        border-radius: 0 60px 60px 0;
        padding: 60px 70px;
    }

    .site-map {
        width: 40px;
        height: 100%;

        >ul {
            width: 100%;
            height: 100%;
            @include flex-style(column, center, center);

            >li {
                @include flex-style(row, center, center);
                position: relative;
                width: 30px;
                height: 30px;
                font-size: 18px;
                padding: 4px;
                color: $dark;
                border: 2px solid $dark;
                border-radius: 50%;
                margin: 15px 0;
                cursor: pointer;

                >a {
                    color: $dark;

                    >div {
                        font-size: 14px;
                    }
                }

                >p {
                    @include position-style($right : 40px, $top : 0, $zIndex : 1);
                    width: 120px;
                    background-color: $mainBg;
                    text-align: center;
                    padding: 2px 5px;
                    border-radius: 15px;
                    font-size: 14px;
                    transform: translateY(-7px);
                    display: none;

                    &.down {
                        transform: translateY(0);
                    }
                }

                &:hover {
                    >p {
                        display: block;
                    }
                }
            }
        }
    }
}

#d-day {
    @include flex-style(row, center, center);

    >.container {
        background-color: $gray100;
    }

    // 페이지 이름 및 추가 삭제하는 기능
    .d-header {
        @include flex-style(row, space-between, center);
        width: 100%;
        border-bottom: 1px solid $gray400;
        padding-bottom: 36px;
        margin-bottom: 24px;

        >.left {
            @include flex-style(row, center, center);

            >h2 {
                color: $dark;
                font-size: 36px;
            }
        }

        >.right {
            transform: translateY(12px);

            >button {
                font-size: 16px;
                padding: 8px 12px;
                margin-right: 10px;
                background-color: $green900;
                color: white;
                border-radius: 50%;
                position: relative;

                >svg {
                    transform: translateY(2px);
                }

                >p {
                    @include position-style($left : 50%, $top : -20px);
                    width: 50px;
                    font-size: 12px;
                    text-align: center;
                    color: $dark;
                    transform: translateX(-50%);
                }

                &.clear {
                    background-color: $red900;
                }
            }
        }
    }

    // 필터 및 보기 방식 영역
    .d-helper {
        @include flex-style(row, space-between, center);
        margin-bottom: 24px;

        // 필터링
        >.left {
            @include flex-style($alignVal :center);

            button {
                @include flex-style($alignVal :center);
                margin-right: 24px;

                >h5 {
                    font-size: 16px;
                    margin-right: 12px;
                    font-family: $NotoThin;
                }

                >p {
                    font-size: 12px;
                    font-family: $font2;
                    padding: 4px 8px;
                    background-color: $gray50;
                    border: 1px solid $gray300;
                    border-radius: 8px;
                    transform: translateY(2px);
                }

                >div {
                    margin-right: 5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    transform: translateY(2px);

                    &.blue {
                        background-color: $blue300;
                    }

                    &.red {
                        background-color: $red300;
                    }
                }

                &.active {
                    >h5 {
                        font-family: $NotoRegular;
                        color: $green700;
                    }

                    >p {
                        background-color: $green50;
                        border-color: $green200;
                    }
                }
            }
        }

        // 뷰방식
        >.right {
            button {
                margin-left: 12px;
                padding: 4px 8px;
                background-color: $gray50;
                border: 1px solid $gray300;
                border-radius: 8px;

                &.active {
                    background-color: $green50;
                    border-color: $green200;
                }
            }

        }
    }

    .add-d-day {
        width: 400px;
        background-color: white;

        >article {
            padding: 25px 40px;

            >label {
                @include flex-style($alignVal : center);
                margin-bottom: 18px;
                font-size: 18px;

                >h5 {
                    width: 80px;
                    font-size: 16px;
                    font-family: $font3;
                }

                >input {
                    width: 240px;
                    font-size: 16px;
                    background-color: transparent;
                    border-bottom: .5px solid black;
                    font-family: $font1;
                    padding-left: 8px;
                }
            }

            >div {
                width: 100%;
                margin-top: 18px;
                text-align: right;
            }
        }
    }

    // 디데이 리스트
    .d-day-list {
        @include flex-style();
        flex-wrap: wrap;
        height: calc(100% - 120px);
        overflow: auto;

        &.list {
            @include flex-style(column, flex-start, center);
            flex-wrap: nowrap;
            overflow-x: visible;
            overflow-y: auto;
        }

        >li {
            position: relative;
            background-color: white;
            margin: 15px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            border-radius: 20px;

            // 메모 잔여 및 지난 일수를 아는 아이콘
            span {
                @include position-style($left : 15px, $top : -15px);
                width: 30px;
                height: 30px;
                border-radius: 50%;

                &.blue {
                    background-color: $blue300;
                    box-shadow: 0 8px 12px rgba(0, 0, 255, 0.3);
                }

                &.red {
                    background-color: $red300;
                    box-shadow: 0 8px 12px rgba(255, 0, 0, 0.3);
                }
            }

            // 디데이 제목
            h3 {
                font-size: 24px;
                font-family: $NotoBold;
                letter-spacing: 1.5px;
            }

            // D-Day
            h4 {
                font-size: 18px;
            }

            // 잔여 시간 또는 지난 일수를 표현
            .times {
                @include flex-style($alignVal: center);

                >li {
                    @include flex-style($alignVal : flex-end);

                    text-align: center;
                    margin: 0 5px;

                    >h5 {
                        font-size: 18px;
                    }

                    >p {
                        font-size: 14px;
                    }
                }
            }

            &.post {
                @include flex-style(column);
                width: 240px;
                height: 240px;
                padding: 10px 15px 20px 30px;

                // 삭제하는 버튼
                >.btn-box {
                    text-align: right;

                    >button {
                        font-family: $font3;
                        padding: 0 5px;
                        height: 30px;
                    }
                }

                >h4 {
                    margin-top: 24px;
                    margin-left: 8px;
                }

                >.times {
                    margin-top: 24px;
                    margin-left: 3px;
                }
            }

            &.list {
                @include flex-style(row, space-between, center);
                width: 95%;
                height: 80px;
                padding: 15px 30px;

                span {
                    top: 50%;
                    left: -18px;
                    transform: translateY(-50%);
                }

                >.infos {
                    @include flex-style();
                    width: calc(100% - 20px);

                    >h3 {
                        width: 50%;
                    }

                    >h4 {
                        transform: translateY(4px);
                        width: 240px;
                    }
                }

                >button {
                    width: 20px;
                    font-family: $font3;
                    font-size: 18px;
                }
            }
        }
    }
}

#todo-list {

    >.container {
        padding: 0;
        background-image: url('images/background_todolist.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    header {
        @include flex-style(row, space-between, center);
        padding: 10px 25px;
        border-radius: 0 60px 0 0;
        background-color: $blue100;

        >h2 {
            font-size: 36px;

            >b {
                color: $blue900;
                margin-left: 18px;
            }
        }

        >.btns {
            @include flex-style();

            >li {
                margin-right: 18px;

                >button {
                    font-size: 18px;
                    color: $blue900;
                    border-bottom: 1px solid $blue900;
                }
            }
        }
    }

    .todo-side {
        width: 320px;
        height: 100%;
        background-color: $gray200;
        border-right: 1px solid $gray800;

        >h2 {
            background-color: $gray800;
            color: white;
            text-align: center;
            padding: 20px 0;
            letter-spacing: 3px;
            font-family: $font2;
        }

        >ul {
            width: 100%;
            margin-top: 24px;
            padding: 0 24px;

            >li {
                width: 100%;

                >h4 {
                    font-size: 22px;
                    font-family: $font3;
                    margin-bottom: 10px;
                }

                >div {
                    @include flex-style($justifyVal : space-between);

                    >select {
                        width: 120px;
                        font-size: 16px;
                    }

                    >button {
                        border-radius: 4px;
                        border: 1px solid $gray800;
                        padding: 0 8px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .today {
        padding: 60px 70px;

        >.today-list {
            >ul {
                @include flex-style(row, center, flex-start);
                flex-wrap: wrap;
                min-width: 960px;
                height: calc(100vh - 200px);
                overflow: auto;
                width: 100%;

                input[type="text"] {
                    background-color: transparent;
                }

                // 하나의 묶음 (카테고리, 색깔, 투두쓰)
                >li {
                    position: relative;
                    width: 45%;
                    margin: 30px 2.5%;
                    padding: 40px 30px;
                    border-radius: 16px;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

                    // 카테고리
                    >h4 {
                        @include position-style($left : 40px, $top : -25px);
                        width: 350px;
                        padding: 10px 0;
                        padding-left: 10px;
                        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
                        border-radius: 16px;

                        >input {
                            width: 100%;
                            font-size: 18px;
                            font-family: $font4;
                        }
                    }

                    // Todos
                    >ol {
                        >li {
                            @include flex-style($alignVal :center);
                            margin-bottom: 18px;

                            >input[type="checkbox"] {
                                width: 15px;
                                height: 15px;
                                cursor: pointer;
                                margin-right: 24px;
                            }

                            >input[type="text"] {
                                padding-left: 10px;
                                font-size: 18px;
                                border-bottom: 1px solid $dark;
                                width: 100%;
                            }

                            &.add {
                                justify-content: center;
                                margin-bottom: 0;

                                >button {
                                    font-size: 18px;
                                    width: 120px;
                                    padding: 4px 0;
                                    border: 1px solid $dark;
                                    border-radius: 18px;
                                }

                            }
                        }
                    }

                    >.change-colors {
                        @include position-style($right :25px, $top : -30px);
                        @include flex-style();

                        >li {
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            margin-left: 10px;
                            cursor: pointer;

                            &.red {
                                background-color: $red400;
                            }

                            &.yellow {
                                background-color: $yellow400;
                            }

                            &.green {
                                background-color: $green400;
                            }

                            &.blue {
                                background-color: $blue400;
                            }

                            &.gray {
                                background-color: $gray400;
                            }

                            &.lightRed {
                                background-color: $red50;
                            }

                            &.lightYellow {
                                background-color: $yellow50;
                            }

                            &.lightGreen {
                                background-color: $green50;
                            }

                            &.lightBlue {
                                background-color: $blue50;
                            }

                            &.lightGray {
                                background-color: $gray50;
                            }
                        }

                    }

                    &.red {
                        background-color: $red400;

                        >h4 {
                            background-color: $red600;

                        }

                        input {
                            color: white;
                        }
                    }

                    &.yellow {
                        background-color: $yellow400;

                        >h4 {
                            background-color: $yellow600;
                        }
                    }

                    &.green {
                        background-color: $green400;

                        >h4 {
                            background-color: $green600;
                        }

                        input {
                            color: white;
                        }
                    }

                    &.blue {
                        background-color: $blue400;

                        >h4 {
                            background-color: $blue600;
                        }

                        input {
                            color: white;
                        }
                    }

                    &.gray {
                        background-color: $gray400;

                        >h4 {
                            background-color: $gray600;
                        }

                        input {
                            color: white;
                        }
                    }

                    &.lightRed {
                        background-color: $red50;

                        >h4 {
                            background-color: $red100;
                        }
                    }

                    &.lightYellow {
                        background-color: $yellow50;

                        >h4 {
                            background-color: $yellow100;
                        }
                    }

                    &.lightGreen {
                        background-color: $green50;

                        >h4 {
                            background-color: $green100;
                        }
                    }

                    &.lightBlue {
                        background-color: $blue50;

                        >h4 {
                            background-color: $blue100;
                        }
                    }

                    &.lightGray {
                        background-color: $gray50;

                        >h4 {
                            background-color: $gray100;
                        }
                    }
                }
            }
        }
    }
}

#movie-bank {
    @include flex-style();

    >.movie-side {
        width: 300px;
        height: 100vh;
        background-color: $gray100;

        >h2 {
            font-family: $font4;
            font-size: 28px;
            text-align: center;
            padding: 28px 0;
            background-color: $gray800;
            color: white;
            letter-spacing: 3px;
        }
    }

    >.right {
        width: calc(100% - 300px);
        @include flex-style(column, flex-start, center);
        padding-top: 72px;

        >.movie-search {

            width: 80%;
            @include flex-style($justifyVal :space-between);

            >article {
                @include flex-style($alignVal :center);
            }

            >.search {
                position: relative;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                padding: 8px 12px;

                >input {
                    width: 240px;
                    font-size: 24px;
                }

                >button {
                    font-size: 24px;

                    >svg {
                        transform: translateY(2px);
                    }
                }

                >.search-preview {
                    @include position-style($left : 0, $top : 55px, $zIndex : 2);
                    width: 330px;
                    height: 300px;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

                    >div {
                        width: 100%;
                        height: 100%;
                        @include flex-style(row, center, center);

                        >img {
                            width: 150px;
                        }
                    }

                    .stand {
                        position: relative;

                        .preview-list {
                            background-color: white;
                            width: 330px;
                            height: 300px;
                            overflow: auto;

                            >li {
                                @include flex-style(row, flex-start, center);
                                margin: 5px 0;
                                cursor: pointer;

                                >.thumbnail {
                                    width: 40px;

                                    >img {
                                        width: 100%;
                                    }
                                }

                                >aside {
                                    margin-left: 15px;
                                }

                                >.hover-img {
                                    @include position-style(absolute, 340px, 0);
                                    @include flex-style(row, center, center);
                                    background-color: white;

                                    width: 200px;
                                    height: 280px;
                                    padding: 10px;
                                    display: none;

                                    >img {
                                        width: 180px;
                                    }
                                }

                                &:hover {
                                    background-color: $blue50;

                                    >.hover-img {
                                        display: flex;
                                    }
                                }
                            }

                            &::-webkit-scrollbar {
                                width: 10px;
                                background-color: $gray100;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: $gray800;
                                border-radius: 8px
                            }
                        }

                    }
                }
            }

            >.option {
                >ul {
                    @include flex-style();

                    >li {
                        padding: 4px 0;
                        margin: 0 8px;
                        cursor: pointer;

                        &.active {
                            color: $blue500;
                            border-bottom: 1px solid $blue500;
                        }
                    }
                }

                >select {
                    width: 160px;
                    margin-left: 24px;
                    font-size: 16px;
                    padding: 4px 8px;
                }
            }

        }

        >.movie-list {
            width: 80%;
            margin-top: 36px;
            height: calc(100vh - 224px);
            overflow: auto;

            &::-webkit-scrollbar-thumb {
                background-color: $gray800;
            }

            // 포스터 리스트
            >ul {
                width: 100%;
                @include flex-style();
                flex-wrap: wrap;
                padding: 2%;

                // 포스터의 li
                >li {
                    @include flex-style(row, center, center);
                    width: 45%;
                    height: 300px;
                    margin-right: 5%;
                    margin-bottom: 24px;
                    background-color: $red50;
                    border-radius: 10px;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    // 포스트의 이미지 정보
                    >div {
                        height: 90%;
                        margin-left: 2%;
                        cursor: pointer;

                        >img {
                            height: 100%;
                        }
                    }

                    // 포스트의 나머지 정보
                    >aside {
                        display: block;
                        width: 68%;
                        padding: 15px;

                        // 포스터명
                        >h4 {
                            font-family: $font2;
                            font-size: 18px;
                            @include cutContext();
                        }

                        // 포스터 평점
                        >span {
                            font-family: $font2;
                            display: block;
                            text-align: right;
                            font-size: 14px;
                            margin: 8px 0;
                        }

                        // 포스터 내용
                        >p {
                            overflow: auto;
                            height: 200px;
                            padding: 10px 20px;
                            background-color: rgba(255, 255, 255, 0.3);
                            border-radius: 10px;
                        }

                        // 포스터 장르들
                        >ol {
                            width: 100%;
                            margin-top: 10px;
                            @include flex-style();
                            font-family: $font1;
                            font-size: 14px;
                            @include cutContext();

                            >li {
                                margin-right: 5px;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }


    // 포스터 정보 상세보기
    .movie-detail {
        width: 60vw;
        height: 80vh;
        min-width: 720px;
        min-height: 480px;

        >article {
            @include flex-style();
            padding: 25px;
            height: 95%;

            >figure {
                @include flex-style(column, center, center);
                width: 40%;

                >img {
                    width: 100%;
                }

                >figcaption {
                    width: 100%;
                    background-color: $gray800;
                    color: white;
                    font-family: $font4;
                    text-align: center;
                    padding: 10px 0;
                }
            }

            >aside {
                @include flex-style(column, space-between, center);
                width: 60%;
                height: 100%;
                padding: 0 25px;

                >* {
                    display: block;
                    width: 100%;
                }

                >span {
                    text-align: right;
                    font-size: 28px;
                }

                >p {
                    height: 85%;
                    background-color: $red50;
                    padding: 20px;
                    overflow: auto;
                    border-radius: 8px;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
                }

                >ol {
                    @include flex-style();
                    flex-wrap: wrap;
                    font-style: italic;

                    >li {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .prevent {
        display: none;
    }
}