@import './styles';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $NotoRegular;
}

ul,
dl,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: $gray900;
}

table {
    border-collapse: collapse;
}

input,
button {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

select {
    outline: none;
}