.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1280px;
  min-height: 720px;
  width: 100vw;
  height: 100vh;
  background-color: #212121;
}

.App > .summary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1280px;
  height: 720px;
  background-color: white;
}

.App > .summary-container > section {
  width: 1000px;
  height: 100%;
}

._404 {
  color: white;
  text-align: center;
}

._404 > h2 {
  font-size: 120px;
}

._404 > p {
  font-size: 54px;
  margin: 25px 0;
  display: block;
}

._404 > p > svg {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

._404 > a {
  display: inline-block;
  font-size: 40px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 20px;
}

._404 > a > svg {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.site-map {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: #2196F3;
}

.site-map > ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-map > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 18px;
  padding: 4px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  margin: 15px 0;
  cursor: pointer;
}

.site-map > ul > li > a {
  color: white;
}

.site-map > ul > li > a > div {
  font-size: 14px;
}

.site-map > ul > li > p {
  position: absolute;
  right: -2000px;
  top: 0;
  z-index: 1;
  width: 120px;
  background-color: #0D47A1;
  text-align: center;
  padding: 2px 5px;
  border-radius: 15px;
  font-size: 14px;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.site-map > ul > li > p.down {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.site-map > ul > li:hover > p {
  right: 40px;
}

.scroll-design1::-webkit-scrollbar {
  width: 10px;
}

.scroll-design1::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 10px;
}
