.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1280px;
  min-height: 720px;
  width: 100vw;
  height: 100vh;
}

._404 {
  color: white;
  text-align: center;
}

._404 > h2 {
  font-size: 120px;
}

._404 > p {
  font-size: 54px;
  margin: 25px 0;
  display: block;
}

._404 > p > svg {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

._404 > a {
  display: inline-block;
  font-size: 40px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 20px;
}

._404 > a > svg {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.scroll-design1::-webkit-scrollbar {
  width: 10px;
}

.scroll-design1::-webkit-scrollbar-thumb {
  background-color: #61573C;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.scroll-design1::-webkit-scrollbar-track {
  background-color: #B3A88A;
  border-radius: 10px;
}

.table-container {
  width: 100%;
  border: 1px solid #BDBDBD;
  border-radius: 15px;
}

.table-container .table-type1 {
  width: 100%;
  border-collapse: collapse;
}

.table-container .table-type1 > thead {
  background-color: #F9F5EA;
}

.table-container .table-type1 > thead th {
  height: 50px;
  font-size: 16px;
  color: #61573C;
}

.table-container .table-type1 > thead th.small {
  width: 100px;
}

.table-container .table-type1 > thead th:first-child {
  border-radius: 15px 0 0 0;
}

.table-container .table-type1 > thead th:last-child {
  border-radius: 0 15px 0 0;
}

.table-container .table-type1 > tbody > tr {
  border-bottom: 1px solid #E0E0E0;
}

.table-container .table-type1 > tbody > tr > td {
  text-align: center;
  font-size: 14px;
  height: 50px;
  padding: 25px 0;
}

.table-container .table-type1 > tbody > tr:last-child {
  border: none;
}

.modal-type1 {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}

.modal-type1 > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #424242;
  padding: 8px 12px;
}

.modal-type1 > header > h3 {
  color: white;
  margin-left: 12px;
  font-size: 18px;
  font-weight: normal;
}

.modal-type1 > header > h3 > i {
  color: white;
}

.modal-type1 > header > button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: linear-gradient(200deg, #ffffff 0%, #ff2525 28%);
}

.btn-type1 {
  padding: 8px 12px;
  background-color: #424242;
  color: white;
  border-radius: 8px;
}

.image-box {
  position: relative;
}

.image-box > img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  margin: auto;
}

@media (max-width: 1280px) {
  .App {
    min-width: 960px;
    min-height: 640px;
  }
}

@media (max-width: 960px) {
  .App {
    min-width: 720px;
    min-height: 480px;
  }
}

@media (max-width: 720px) {
  .App {
    min-width: 480px;
    min-height: 360px;
  }
}
