@charset "UTF-8";
.h-main {
  width: 100vw;
  height: 100vh;
  min-width: 1280px;
  min-height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F9F5EA;
}

.h-main > .side-bar {
  width: 13%;
  min-width: 280px;
  height: 100%;
}

.h-main > .side-bar > .img-box {
  margin-top: 5%;
  text-align: center;
  height: 15%;
  background-image: url("images/김성엽.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.h-main > .side-bar > .name-box {
  margin-top: 25px;
  text-align: center;
}

.h-main > .side-bar > .name-box > h2 {
  font-size: 18px;
  font-family: "ChosunNm";
}

.h-main > .side-bar > .nav-list {
  margin-top: 80px;
}

.h-main > .side-bar > .nav-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  position: relative;
}

.h-main > .side-bar > .nav-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.h-main > .side-bar > .nav-list > li > a > svg {
  font-size: 48px;
  margin-bottom: 10px;
}

.h-main > .side-bar > .nav-list > li > a > span {
  font-family: "NexonGothicB";
  font-size: 24px;
}

.h-main > .side-bar > .nav-list > li.active > a {
  background-color: #61573C;
  color: white;
}

.h-main > section {
  width: calc(100vw - 280px);
  height: 100%;
  border-radius: 70px 0 0 70px;
  padding: 60px 70px;
  background-color: white;
  overflow: auto;
  padding-bottom: 200px;
}

.h-main > section.scroll-design1::-webkit-scrollbar {
  width: 15px;
}

.h-main > section.scroll-design1::-webkit-scrollbar {
  width: 15px;
}

.h-main > section.scroll-design1::-webkit-scrollbar {
  width: 15px;
}

.home .page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .intro > h2 {
  font-size: 64px;
  margin-bottom: 36px;
}

.home .intro > .work-days {
  font-size: 48px;
}

.home .intro > .work-place {
  font-size: 36px;
}

.home .intro > .work-place > a {
  color: #1565C0;
}

.home .counts > h3 {
  font-size: 36px;
  margin-bottom: 36px;
}

.home .counts table {
  width: 100%;
}

.home .counts table > tbody > tr > td {
  text-align: center;
  padding: 10px 0;
}

.home .counts table > tbody > tr > td > h4 {
  font-size: 18px;
}

.home .counts table > tbody > tr > td > a {
  color: #1565C0;
  font-weight: bold;
}

.home .counts table > tbody > tr > td.did {
  text-align: left;
  width: 30%;
  padding-left: 15px;
}

.home .counts table > tbody > tr > td.did > p {
  width: 90%;
}

.skills article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills article > h3 {
  width: 90%;
  text-align: left;
  font-size: 48px;
  margin-bottom: 72px;
}

.skills article > h3 > b {
  color: #61573C;
}

.skills article .image-box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #F9F5EA;
  border-radius: 50%;
}

.skills article .image-box > img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}

.skills .develope {
  width: 100%;
  margin-bottom: 72px;
}

.skills .develope > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  min-width: 720px;
  overflow: auto;
}

.skills .develope > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-right: 2.5%;
  position: relative;
}

.skills .develope > ul > li > h5 {
  font-size: 48px;
  font-family: "NotoSansRegular";
}

.skills .work > ul {
  width: 90%;
  border: 1px solid #61573C;
  border-radius: 8px;
}

.skills .work > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 1px solid #61573C;
}

.skills .work > ul > li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  border-right: 1px solid #61573C;
}

.skills .work > ul > li > div > h5 {
  width: 100%;
  text-align: center;
  font-family: "NotoSansBold";
  font-size: 18px;
}

.skills .work > ul > li > div > .image-box {
  width: 180px;
  height: 180px;
}

.skills .work > ul > li:last-child {
  border: none;
}

.skills .work > ul > li > p {
  width: calc(100% - 200px);
  padding-left: 24px;
  font-size: 24px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .pf-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .pf-list > li {
  width: 30%;
  margin: 0 1.5%;
  border: 1px solid black;
  border-radius: 8px;
}

.portfolio .pf-list > li > div {
  width: 100%;
  height: 225px;
  text-align: center;
}

.portfolio .pf-list > li > h5 {
  text-align: center;
  margin: 5px 0;
}

.portfolio .pf-list > li > button {
  width: 45%;
  margin: 0 2.5%;
  padding: 5px 8px;
  background-color: #1E88E5;
  border-radius: 4px;
  color: white;
  margin-bottom: 15px;
}
