@charset "UTF-8";
.p-main {
  width: 100vw;
  height: 100vh;
  min-width: 1280px;
  min-height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F9F5EA;
}

.p-main > .side-bar {
  width: 13%;
  min-width: 280px;
  height: 100%;
}

.p-main > .side-bar > .img-box {
  margin-top: 5%;
  text-align: center;
  height: 15%;
  background-image: url("images/김성엽.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.p-main > .side-bar > .name-box {
  margin-top: 25px;
  text-align: center;
}

.p-main > .side-bar > .name-box > h2 {
  font-size: 18px;
  font-family: "ChosunNm";
}

.p-main > .side-bar > .nav-list {
  margin-top: 80px;
}

.p-main > .side-bar > .nav-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  position: relative;
}

.p-main > .side-bar > .nav-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.p-main > .side-bar > .nav-list > li > a > svg {
  font-size: 48px;
  margin-bottom: 10px;
}

.p-main > .side-bar > .nav-list > li > a > span {
  font-family: "NexonGothicB";
  font-size: 24px;
}

.p-main > .side-bar > .nav-list > li.active > a {
  background-color: #61573C;
  color: white;
}

.p-main > section {
  width: calc(100vw - 280px);
  height: 100%;
  border-radius: 70px 0 0 70px;
  padding: 60px 70px;
  background-color: white;
}

.home > div {
  font-size: 18px;
}

.home > .counts > h3 {
  margin-bottom: 15px;
}

.home > .counts > table {
  width: 100%;
}

.home > .counts > table thead {
  background-color: #1976D2;
  color: white;
}

.home > .counts > table thead th {
  border: 1px solid white;
  padding: 5px 0;
}

.home > .counts > table tbody tr {
  border-bottom: 1px solid #1976D2;
}

.home > .counts > table td {
  text-align: center;
  padding: 10px 0;
}

.home > .counts > table td > ol {
  border: 1px solid #212121;
  width: 120px;
}

.home > .counts > table td > ol > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home > .counts > table td > ol > li > h5 {
  width: 50px;
}

.home > .counts > table td > ol > li > span {
  display: block;
  width: 60px;
  text-align: center;
}

.home > .counts > table td > a {
  color: #1565C0;
  font-weight: bold;
}

.skills article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .develope {
  width: 100%;
}

.skills .develope > h3 {
  font-size: 48px;
  margin-bottom: 72px;
}

.skills .develope > ul {
  width: 80%;
  min-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills .develope > ul > li {
  width: 15%;
  margin: 0 4.16%;
  position: relative;
}

.skills .develope > ul > li > h5 {
  font-size: 48px;
  font-family: "NotoSansRegular";
}

.skills .develope > ul > li .image-box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #F9F5EA;
  border-radius: 50%;
}

.skills .develope > ul > li .image-box > img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .pf-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .pf-list > li {
  width: 30%;
  margin: 0 1.5%;
  border: 1px solid black;
  border-radius: 8px;
}

.portfolio .pf-list > li > div {
  width: 100%;
  height: 225px;
  text-align: center;
}

.portfolio .pf-list > li > h5 {
  text-align: center;
  margin: 5px 0;
}

.portfolio .pf-list > li > button {
  width: 45%;
  margin: 0 2.5%;
  padding: 5px 8px;
  background-color: #1E88E5;
  border-radius: 4px;
  color: white;
  margin-bottom: 15px;
}
