.pf-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pf-main > main {
  width: 80%;
  height: 560px;
  overflow: auto;
}

.pf-main > main > .pf-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pf-main > main > .pf-list > li {
  width: 30%;
  margin: 0 1.5%;
  border: 1px solid black;
  border-radius: 8px;
}

.pf-main > main > .pf-list > li > div {
  width: 100%;
  height: 225px;
  text-align: center;
}

.pf-main > main > .pf-list > li > h5 {
  text-align: center;
  margin: 5px 0;
}

.pf-main > main > .pf-list > li > button {
  width: 45%;
  margin: 0 2.5%;
  padding: 5px 8px;
  background-color: #1E88E5;
  border-radius: 4px;
  color: white;
  margin-bottom: 15px;
}

#d-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

#d-day > .container {
  width: 1280px;
  height: 720px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#d-day .d-day-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #E3F2FD;
}

#d-day .d-day-control > .right > button {
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #0D47A1;
  color: white;
  border-radius: 5px;
}

#d-day .d-day-control > .right > button > svg {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  margin-right: 5px;
}

#d-day .add-d-day {
  width: 400px;
  background-color: white;
}

#d-day .add-d-day > article {
  padding: 25px 40px;
}

#d-day .add-d-day > article > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  font-size: 18px;
}

#d-day .add-d-day > article > label > h5 {
  width: 80px;
  font-size: 16px;
  font-family: "NexonGothicB";
}

#d-day .add-d-day > article > label > input {
  width: 240px;
  font-size: 16px;
  background-color: transparent;
  border-bottom: .5px solid black;
  font-family: "Pretendard";
  padding-left: 8px;
}

#d-day .add-d-day > article > div {
  width: 100%;
  margin-top: 18px;
  text-align: right;
}

#d-day .d-day-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#d-day .d-day-list > li {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #FFEBEE;
  margin: 15px;
}

#d-day .d-day-list > li > .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EF9A9A;
  padding: 0 10px 0 15px;
}

#d-day .d-day-list > li > .top > h3 {
  font-size: 16px;
  color: white;
  height: 30px;
  line-height: 30px;
  font-family: "MaruBuriR";
  letter-spacing: 3px;
  font-weight: normal;
}

#d-day .d-day-list > li > .top > button {
  font-family: "NexonGothicB";
  padding: 0 5px;
  height: 30px;
}

#d-day .d-day-list > li > h4 {
  margin-top: 12px;
  text-align: center;
  font-size: 16px;
  font-family: "MaruBuriR";
}

#d-day .d-day-list > li > ol.times {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#d-day .d-day-list > li > ol.times > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  margin: 0 5px;
}

#d-day .d-day-list > li > ol.times > li > h5 {
  font-size: 15px;
  font-weight: normal;
  font-family: "Pretendard";
}

#d-day .d-day-list > li > ol.times > li > p {
  font-size: 12px;
}

#d-day .d-day-list > li::before {
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  width: 20px;
  height: 20px;
  background: linear-gradient(315deg, #FFFFFF 0%, #FFFFFF 40%, #EF9A9A 100%);
}

#todo-list > aside {
  width: 320px;
  height: 100%;
  background-color: #EEEEEE;
  border-right: 1px solid #424242;
}

#todo-list > aside > h2 {
  background-color: #424242;
  color: white;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 3px;
  font-family: "MaruBuriR";
}

#todo-list > aside > ul {
  width: 100%;
  margin-top: 24px;
  padding: 0 24px;
}

#todo-list > aside > ul > li {
  width: 100%;
}

#todo-list > aside > ul > li > h4 {
  font-size: 22px;
  font-family: "NexonGothicB";
  margin-bottom: 10px;
}

#todo-list > aside > ul > li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#todo-list > aside > ul > li > div > select {
  width: 120px;
  font-size: 16px;
}

#todo-list > aside > ul > li > div > button {
  border-radius: 4px;
  border: 1px solid #424242;
  padding: 0 8px;
  font-size: 16px;
}

#todo-list > section {
  width: calc(100% - 320px);
}

#movie-bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#movie-bank > .movie-side {
  width: 300px;
  height: 100vh;
  background-color: #F5F5F5;
}

#movie-bank > .movie-side > h2 {
  font-family: "SebangGothic";
  font-size: 28px;
  text-align: center;
  padding: 28px 0;
  background-color: #424242;
  color: white;
  letter-spacing: 3px;
}

#movie-bank > .right {
  width: calc(100% - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 72px;
}

#movie-bank > .right > .movie-search {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#movie-bank > .right > .movie-search > article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#movie-bank > .right > .movie-search > .search {
  position: relative;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 8px 12px;
}

#movie-bank > .right > .movie-search > .search > input {
  width: 240px;
  font-size: 24px;
}

#movie-bank > .right > .movie-search > .search > button {
  font-size: 24px;
}

#movie-bank > .right > .movie-search > .search > button > svg {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#movie-bank > .right > .movie-search > .search > .search-preview {
  position: absolute;
  left: 0;
  top: 55px;
  z-index: 2;
  width: 330px;
  height: 300px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#movie-bank > .right > .movie-search > .search > .search-preview > div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#movie-bank > .right > .movie-search > .search > .search-preview > div > img {
  width: 150px;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand {
  position: relative;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list {
  background-color: white;
  width: 330px;
  height: 300px;
  overflow: auto;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
  cursor: pointer;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list > li > .thumbnail {
  width: 40px;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list > li > .thumbnail > img {
  width: 100%;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list > li > aside {
  margin-left: 15px;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list > li > .hover-img {
  position: absolute;
  left: 340px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 200px;
  height: 280px;
  padding: 10px;
  display: none;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list > li > .hover-img > img {
  width: 180px;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list > li:hover {
  background-color: #E3F2FD;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list > li:hover > .hover-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#movie-bank > .right > .movie-search > .search > .search-preview .stand .preview-list::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 8px;
}

#movie-bank > .right > .movie-search > .option > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#movie-bank > .right > .movie-search > .option > ul > li {
  padding: 4px 0;
  margin: 0 8px;
  cursor: pointer;
}

#movie-bank > .right > .movie-search > .option > ul > li.active {
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}

#movie-bank > .right > .movie-search > .option > select {
  width: 160px;
  margin-left: 24px;
  font-size: 16px;
  padding: 4px 8px;
}

#movie-bank > .right > .movie-list {
  width: 80%;
  margin-top: 36px;
  height: calc(100vh - 224px);
  overflow: auto;
}

#movie-bank > .right > .movie-list::-webkit-scrollbar-thumb {
  background-color: #424242;
}

#movie-bank > .right > .movie-list > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2%;
}

#movie-bank > .right > .movie-list > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 300px;
  margin-right: 5%;
  margin-bottom: 24px;
  background-color: #FFEBEE;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

#movie-bank > .right > .movie-list > ul > li:nth-child(2n) {
  margin-right: 0;
}

#movie-bank > .right > .movie-list > ul > li > div {
  height: 90%;
  margin-left: 2%;
  cursor: pointer;
}

#movie-bank > .right > .movie-list > ul > li > div > img {
  height: 100%;
}

#movie-bank > .right > .movie-list > ul > li > aside {
  display: block;
  width: 68%;
  padding: 15px;
}

#movie-bank > .right > .movie-list > ul > li > aside > h4 {
  font-family: "MaruBuriR";
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#movie-bank > .right > .movie-list > ul > li > aside > span {
  font-family: "MaruBuriR";
  display: block;
  text-align: right;
  font-size: 14px;
  margin: 8px 0;
}

#movie-bank > .right > .movie-list > ul > li > aside > p {
  overflow: auto;
  height: 200px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#movie-bank > .right > .movie-list > ul > li > aside > ol {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Pretendard";
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#movie-bank > .right > .movie-list > ul > li > aside > ol > li {
  margin-right: 5px;
  font-style: italic;
}

#movie-bank .movie-detail {
  width: 60vw;
  height: 80vh;
  min-width: 720px;
  min-height: 480px;
}

#movie-bank .movie-detail > article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 25px;
  height: 95%;
}

#movie-bank .movie-detail > article > figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

#movie-bank .movie-detail > article > figure > img {
  width: 100%;
}

#movie-bank .movie-detail > article > figure > figcaption {
  width: 100%;
  background-color: #424242;
  color: white;
  font-family: "SebangGothic";
  text-align: center;
  padding: 10px 0;
}

#movie-bank .movie-detail > article > aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100%;
  padding: 0 25px;
}

#movie-bank .movie-detail > article > aside > * {
  display: block;
  width: 100%;
}

#movie-bank .movie-detail > article > aside > span {
  text-align: right;
  font-size: 28px;
}

#movie-bank .movie-detail > article > aside > p {
  height: 85%;
  background-color: #FFEBEE;
  padding: 20px;
  overflow: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

#movie-bank .movie-detail > article > aside > ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: italic;
}

#movie-bank .movie-detail > article > aside > ol > li {
  margin-right: 15px;
}

#movie-bank .prevent {
  display: none;
}
