* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
dl,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

table {
  border-collapse: collapse;
}

input,
button {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

select {
  outline: none;
}
